$mainFont: 'Tektur', cursive;
$secondaryFont: 'Ubuntu', sans-serif;
$mainGradient: linear-gradient(90deg, #8e6cf0 0%, #6cc1f0 100%);
$secondaryGradient: linear-gradient(90deg, #e16cf0 0%, #6cc1f0 100%);
$blue: rgba(109, 189, 240, 1);
$purple: rgba(121, 104, 155, 1);
$white: rgba(255, 255, 255, 1);

.projects {
  // position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: 60px;
  }
}
